<!-- LAPTOP VERSION -->
<div class="hide-on-small" style="height: 480px; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1489171078254-c3365d6e359f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80">
  <div class="container d-flex align-items-center justify-content-center" style="height: 480px">
    <h1 style="color: white; font-family: Simply Rounded; font-size: 24px; letter-spacing: 1px; text-align: center">Modern Living Style in the Heart of Medan</h1>
  </div>
</div>
<div class="hide-on-large" style="height: 360px; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1489171078254-c3365d6e359f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80">
  <div class="text-center pt-3 hide-on-large">
    <%= link_to "BOOK NOW", "", class: "nav-link hide-on-mobile nav-white", style:"", class:"btn btn-transparent-bold-white" %>
  </div>
  <div class="container d-flex align-items-center justify-content-center" style="height: 240px">
    <h1 style="color: white; font-family: Simply Rounded; font-size: 24px; letter-spacing: 1px; text-align: center">Modern Living Style in the Heart of Medan</h1>
  </div>
</div>
<div class="container my-5">
  <%= render 'shared/booking_form' %>
  <h5 class="text-center mt-5">Welcome to Le petit Paris</h5>
  <p class="text-center my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, a doloremque sequi rerum, architecto officiis quaerat est doloribus aperiam excepturi reprehenderit voluptas sapiente officia amet. Quo officia hic aspernatur! Blanditiis.</p>
</div>
<%= render 'shared/rooms' %>
<div class="text-center py-5" style="background-color: black">
  <h3 style="color: white">Reserve Your Stay</h3>
  <%= render 'shared/booking_form' %>
  <div class="text-center pt-3 hide-on-large">
    <%= link_to "BOOK NOW", "", class: "nav-link hide-on-mobile nav-white", style:"", class:"btn btn-transparent-bold-white" %>
  </div>
</div>
<%= render 'shared/attractions' %>